MISTRAL_API_KEY=QmLsEqcE414fjRYniJjR1WpXyi0zjgwV
OPEN_AGENDA_API_KEY=oa_pk_PmSmxvvFdZewORAefRRBvRMYEHuDhsCOuGzcyjDCbUpGiSsjsqqVrTAzgLMMUpjZ

# Paramètres géographiques — modifiez ces valeurs selon votre choix de ville
TARGET_CITY=Rennes
TARGET_REGION=Bretagne
